:root {
  --main-color: #e0c10d; /* Aquí defines el color que desees */
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background: rgb(27,26,26);
  background: linear-gradient(67deg, rgba(27,26,26,1) 13%, rgba(60,97,196,1) 82%); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;

}

h1 {
  font-size: 72px!important;
  line-height: 1.1;
}

button {
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.6em;
  font-weight: 500;
  font-family: inherit;
  background-image: radial-gradient( circle farthest-corner at 24.1% 68.8%,  rgb(134 137 23) 0%, rgb(173 164 45) 99.4% );
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--main-color)!important;
  }
}
.relative{
  width: 100%;
  height: 400px;
  display: grid;
  place-content: center;
  min-height: 100vh;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#codigo{
  padding: 10px;
}

#qrContentToDownload{
  background-color: #242424;
}
#card{
  font-size: 39px;
  font-weight: 600;
  background: linear-gradient(135deg, #060612, #006ff7);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem; /* Esto es equivalente a 'rounded-lg' en Tailwind */
  padding: 2rem; /* Esto es equivalente a 'p-8' en Tailwind */
  margin: 1rem; /* Esto es equivalente a 'm-4' en Tailwind */
  width: 80%;
}

#container-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
form > div:not(:last-child) {
  display: flex;
  gap:12px;
  justify-content: space-between;
  margin-bottom: 0.7rem; /* Esto es equivalente a 'space-y-4' en Tailwind */
}

#logo{
  width: 310px;
}

#beer{
  width: 400px;
}

#contain{
  justify-content: space-evenly;

  display: flex;
  flex-wrap: wrap;
  align-items: center;}

 

  .cont-text{
    font-size: 19px;
    width: 40%;
  }

  @media only screen and (max-width: 600px) {
    .cont-text{
      font-weight: 500;
      font-size: 32px;
      width: 90%!important;
    }
    #container-tit{
      width: 98%;
    }
  
    #beer {
      width: 100%}
    }
.color{
  color: var(--main-color);
}



#contain-historia{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li strong{
  color: #98d6ee;
}

p{
  font-weight: bold;
}

 p {
font-size: 37px;

}
#container{
  padding-top: 28px;
  background: rgb(31,31,31);
  background: linear-gradient(135deg, #060612, #5294e7);}


h1 {
margin-top: 25px;
  text-decoration: underline;
  text-decoration-color: #927700; /* ejemplo de color */
  text-decoration-thickness: 2px; /* grosor del subrayado */
  text-underline-offset: 8px; /* distancia del subrayado al texto */
  

}
.container-{
  padding-top: 26px;
  padding: 20px;
  width: auto!important;
}

.cont-imag{
 max-width: 100%;
  padding: 39px;

}p {
  line-height: 1.2; /* Un valor de 1.6 es comúnmente usado para una buena legibilidad */
}


.cer{
  color: #c4ff21;
}

.foot{
  width: 300px;
}
.footcont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.parr{
  font-size: 22px!important;
  width: 1000px;
}

select, input{
  font-size: 32px;
  width: 40%;
  height: 64px;
}


.hero {
  position: relative;
  height: 100vh;
  background: url('assets/HERO-FINAL.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.hero-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Ajusta el color según tus preferencias */
  z-index: 10;
  text-align: center;
}

/* Efecto Paralaje */

  .hero {
   
    background-attachment: fixed;
  }



  .hero h2{
    font-size: 72px;
    font-weight: 700;
    font-family:  'Montserrat', sans-serif;
  }

  .hero button{
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;

    font-weight: 500;
    font-family:  'Montserrat', sans-serif;
    background-image: radial-gradient( circle farthest-corner at 24.1% 68.8%, rgb(10 10 10 / 26%) 0%, rgb(157 157 33 / 42%) 99.4% );
    cursor: pointer;
    transition: border-color 0.25s;
      font-size: 2.5em;
    
  }input, select{
    font-weight: bold;
    color: rgb(27, 26, 26);
  }
  #bar, #dni , #email{
    color: #213547;
  }
  #birthDate{
       color: #213547;
  }